<div class="hyperloophelloword">

  <div>
    <img src="https://rawgit.com/ruby-hyperloop/hyperloop-js-helloworld/master/hyperloop-logo-medium-white.png?raw=true">
    <%= react_component '::Helloworld', {}, { prerender: true } %>
  </div>

</div>
