<div class="hyperloophelloword">

  <div>
    <img src="https://cdn.jsdelivr.net/gh/ruby-hyperloop/hyperloop-js-helloworld/hyperloop-logo-medium-white.png?raw=true">
    <%= react_component '::Helloworld', {}, { prerender: true } %>
  </div>

</div>
